:root {
    --mainBg: rgb(63, 72, 120);
    --accentText: rgb(29, 29, 165);
    --text:  rgb(154, 168, 209);
    --accentHover: rgb(219, 212, 66);
    /* --accentHover: rgba(187, 179, 11); */
    --accentHoverLight: rgba(187, 179, 11, 0.6);
 }
 
 *, *::before, *::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     gap: 1rem;
     font-family: sans-serif;
     flex-wrap: nowrap;
     background: var(--mainBg);
     padding: 1.5rem 1.5rem 0 0;
     font-family: poppins, sans-serif;
     font-weight: 600;
     /* overflow: hidden; */
 }

 .menu-item {
     width: 25ch;
     height: 2rem;
     border: 1px solid gray;
     list-style-type: none;
     padding: clamp(2px, 5px, 0.01vw);
     color: var(--text);
     text-shadow: 2px 2px 2px var(--accentText);
     text-align: center;
     padding-top: 3px;
     font-size: clamp(11px, 1rem, 1vw);
     background: rgba(63, 63, 100, 0.15);
 }
 
 .dash-container {
     display: flex;
     height: 90vh;
     justify-content: space-evenly;
     flex-wrap: wrap;
     /* border: 5px solid green; */
 }
 
 .col {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     width: 38vw;
     gap: 20px;
 }
 
 .extra-vis-container {
     display: flex;
     justify-content: center;
     gap: 5em;
     align-items: flex-end;
     animation: move 1s linear infinite;
     border-radius: 10px;
     padding: 15px;
     height: 43vh;
     min-width: 35vw; 
 }
 
 .canvas-wrapper {
     display: block;
     height: 43vh;
 }
 
 .canvas-container {
     position: relative;
     top: 0;
     left: 0;
     margin: 0.9em auto;
     width: 90%;
     height: 94%;
 }
 
 @media (min-width: 750px) {
     #canvas {
         width: 50%;
         height: 50%
     }
 }
 
 .wrapper, .menu-item, .showName, .showLabel, .labelClicked, .select-map-comp, #countryInfo {
     box-shadow: -5px 6px 12px var(--accentHoverLight),
     5px 5px 20px rgba(0,0,0,0.8),
     inset 5px 5px 10px rgba(255, 255, 255, 0.3),
     inset -5px -5px 10px rgba(255, 255, 255, 0.3);
     border-left: 2px solid var(--accentHoverLight);
     border-bottom: 2px solid var(--accentHoverLight);
     background: rgba(50, 50, 80, 0.3);
 }
 
 .selected, .hover, .select-map-comp:hover {
     background: var(--accentHover);
     color: 'black';
     text-shadow: 3px 3px 3px black;
     cursor: pointer;
 }

 #visuals-menu {
     display: flex;
     display: flex;
     justify-content: center;
     width: 100%;
     padding: 0 0 0 1.5rem;
     gap: 30px;
 }
 
 .startSlider, .endSlider {
    position: relative;
    top: 20rem;
    left: 0;
    inset: 0 0 0 2rem;
    width: 70px;
    margin: 0 auto;
    z-index: 5;
 }

 .selectorPie {
    position: relative;
    top: 2rem;
    left: 0;
    inset: 0 0 0 2rem;
    width: fit-content;
    height: 20px;
    margin: 0 auto;
 }

 .selectorPieNo {
    display: none;
 }

 /* SVG Map*/
 
 .map-container {
     position: relative;
     display: flex;
     align-self: center;
     flex: 1 0 auto;
     width: 55vw;
     padding: 10px 0 0 30px;
     margin: 0 1.5em 0 1.5em;
     height: 80vh;
 }
 
 .map-container .svg-container, #cluster {
     position: absolute;
     top: 1rem;
     right: 2.5rem;
     width: 80%;
     height: 50%;
 }

.svg-container {
    position: absolute;
    top: 1.5rem;
    left: 4rem;

}
 
 .svgMap {
     width: 80%;
     height: auto;
 /* 
     width="1009.6727"
     height="665.96301" */
 }
 

 @keyframes zoom {
     0% {
         width: 0%;
     }
       100% {
         width: 50%;
     }
 }
 
 svg path {
     stroke: darkgoldenrod;
     stroke-width: 1px;
     cursor: pointer;
 }

 .showName {
     display: block;
     position: absolute;
     width: clamp(50px 16ch 2em);
     height: 3ch;
     font-size: clamp(10px 1.2rem 1vw);
     box-sizing: border-box;
     padding: 0.15em;
     transition: 0.1s;
     transform: translate(-50%, -50%);
     background: rgba(151, 211, 200, 0.45);
     text-align: center;
     cursor: pointer;
     color: var(--accentText);
     text-shadow: 3px 3px 2px var(--text);
     letter-spacing: .1rem;
     z-index: 20;
 }
 
 .noShow {
     opacity: 0;
     /* display: none; */
     position: absolute;
     top: 26rem;
     left: 1rem;
 }

 .not-visible {
    display: none;
 }

 #label {
     width: 98%;
     height: 35%;
     margin: 0 auto;
     /* z-index: -1; */
 }
 
 .showLabel, .labelClicked  {
    opacity: 1;
     display: inline-flex;
     position: absolute;
     top: 29rem;
     left: 0.75rem;
     width: 96%;
     height: 35%;
     height: auto; 
     padding: 0.8em;
     margin: 0 auto;
     align-self: flex-start;
     /* margin: 10px 15px 0 0; */
     box-shadow: none;
 }

 .userInput {
    background: var(--mainBg);
    color: white;

 }

 .userInput {
    display: inline-flex;
    width: auto;
    height: 20px;
    font-size: 0.725em;
    padding: 0.15rem 0.5rem 0 0;
    font-weight: 300;
 }

 /* .mouse-in {
     fill: var(--accentHover);
     color: 'light-gray';
     text-shadow: none;
     opacity: 0.8;
     width: 400px;
     cursor: pointer;
 } */
 

 /*CONTINENT COMPARISSON VIS*/
 #continentComparisson {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
 }

.cluster {
    display: block;
    margin: 0 auto;    
    max-height: 100%;
    max-width: 78vh;
 }

.select-map-comp {
    display: block;
    position: absolute;
    top: -1rem;
    left: 1rem;
    max-height: 3.25em;
    min-width: fit-content;
    margin-right: 10px;
    padding: 2px 10px;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    box-shadow:
     inset 5px 5px 10px rgba(255, 255, 255, 0.3),
     inset -5px -5px 10px rgba(255, 255, 255, 0.3);
     cursor: pointer;
}

.select-map-comp:hover {
    /* color: black; */
    text-shadow: 2px 2px 2px black;
}


#countryInfo {
    display: block;
    position: absolute;
    top: 3.5rem;
    right: 2.5rem;
}

#countryInfo, .select-map-comp {
    border-radius: 5px;
    box-shadow:
    inset 5px 5px 10px rgba(255, 255, 255, 0.2),
    inset -5px -5px 10px rgba(255, 255, 255, 0.15);
}