:root {
   --mainBg: rgb(63, 72, 120);
   --accentText:  rgb(207, 110, 207);
   --accentHover: rgb(187, 179, 11);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    font-family: sans-serif;
    flex-wrap: nowrap;
    background: var(--mainBg);
    padding: 1.5rem 1.5rem 0 0;
    font-family: poppins, sans-serif;
    font-weight: 600;
}

.menu-item {
    width: 25ch;
    height: 50px;
    border: 1px solid gray;
    list-style-type: none;
    padding: 5px;
    color: var(--accentText);
    text-align: center;
    padding-top: 0.8rem;
    font-size: 1.2rem;
}

.dash-container {
    display: flex;
    height: 90vh;
    justify-content: space-evenly;
}

.map-container {
    display: flex;
    align-self: center;
    flex: 1 0 auto;
    width: 55vw;
    padding: 10px 0 0 30px;
    margin: 0 1.5em 0 1.5em;
    height: 70vh
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 38vw;
    gap: 20px;
}

.wrapper {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 5em;
    align-items: flex-end;
    min-height: 42vh;
    animation: move 1s linear infinite;
    border-radius: 10px;
    padding: 15px 0 15px 0;
}

.wrapper, .menu-item, .showName, .showLabel {
    box-shadow: -2px 2px 3px var(--accentHover),
    5px 5px 20px rgba(0,0,0,0.8),
    inset 5px 5px 15px rgba(255, 255, 255, 0.3),
    inset -5px -5px 15px rgba(255, 255, 255, 0.3);
    border-left: 2px solid var(--accentHover);
    border-bottom: 2px solid var(--accentHover);
    background: rgba(50, 50, 80, 0.3);
}

.selected, .hover{
    background: var(--accentHover);
    color: black;
}

#visuals-menu {
    display: flex;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

/* SVG Map*/
svg {
    width: 100%;
}

svg path {
    stroke: darkgoldenrod;
    stroke-width: 1px;
    cursor: pointer;
}

.showName {
    display: block;
    position: absolute;
    width: 14ch;
    height: 40px;
    font-size: 1.5rem;
    box-sizing: border-box;
    padding-top: 0.15em;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    background: rgba(151, 211, 200, 0.3);
    text-align: center;
    cursor: pointer;
    color: var(--accentText);
    text-shadow: 2px 3px 2px darkblue;
    letter-spacing: .1rem;
}

.noShow{
    display: none;
}

.showLabel {
    display:inline-flex;
    width: 500px;
    height: 300px; 
    background: rgba(151, 211, 200, 0.3);
    align-self: flex-start;
    margin: 10px 15px 0 0;
}

.mouse-in {
    fill: var(--accentHover);
    opacity: 0.8;
    width: 400px;
}

/* Bar Chart */
.africaSVG {
    position: absolute;
    top: 77vh;
    left: 67vw;
    height: 54%;
    animation: go-up 1.2s linear;
    transform: translateZ(20%);
}

.barChartTitle, .barChartP {
    position: absolute;
    top: 61vh;
    left: 62vw;
    z-index: 1;
}

.barChartTitle {
    position: absolute;
    top: 58vh;
    
}

@keyframes go-up {
    0% {
        top: 90vh
    }
}

.entities {
    width: 20px;
    max-height: 100%;
    background: var(--accentText);
    transform: skewY(9deg);
    position: relative;
    animation: grow 1.2s linear;
}

@keyframes grow {
    0% {
        height: 0;
    }
}

.entities::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -3px;
    right: -100%;
    background: darkmagenta;
    transform: skewY(-18deg);
}

.entities::after {
    content: '';
    position: absolute;
    background: #371037;
    width: 2.2em;
    height: 1.7em;
    top: -1.02em;
    left: 0.15em;
    transform: rotateX(99deg) rotateY(-7deg) rotateZ(50deg);
}

.africa {
    height: 25%;
}
.americas {
    height: 45%;
}

.asia {
    height: 60%;
}
.europe {
    height: 70%;
}
.oceania {
    height: 75%;
}
.global {
    height: 100%;
}

.entities p {
    color: white;
    position: absolute;
    transform: skewY(-9deg);
    font-size: 1.1rem;
    top: 2.4rem;
    left: 0.1em;
}